@use "../../../presets" as *;
@use "../../../mixins" as *;

.menu {
   
    &__list {
        display: flex;
        justify-content: flex-end;
        gap: $gap-md;
        @include unlist;

        @include md {
            display: none;
        }
    }

    &__link {
        padding: 0.25em 0;
        display: block;
        color: $color-white;
        font-size: 18px;
    }
}