@use "../presets" as *;

%container {
  width: min(100% - 40px, 1320px);

  margin-inline: auto;
}

%text-liner-gradient {
  background: linear-gradient($text-gradient);
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-text-fill-color: transparent;
}

%cases-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: $gap;

  border: $color-white 1px solid;

  gap: $gap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
