@use "../../../presets" as *;
@use "../../../mixins" as *;

.about-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: $color-gray-bg-text;

  gap: 20px;
  @include sm-min {
    justify-content: flex-end;
  }
  @include sm {
    justify-content: space-between;
  }


  &__languages {
    display: flex;

    letter-spacing: 1px;

    font-size: 12px;
    font-weight: 700;

    gap: 2px;

    &-link {
      padding: 5px 6px;

      color: $color-gray-bg-text;
      border-radius: 8px;

      &.-active {
        color: $color-white;
        background-color: $color-accent;
      }
    }
  }

  &__locations {
    &-link {
      color: $color-gray-bg-text;

      font-style: normal;

      @include lg {
        display: none;
      }
    }
  }

  &__phones {
    &-link {
      color: $color-gray-bg-text;

      font-weight: 700;
    }
  }
  &__socials {
    @include lg {
      display: none;

      color: $color-gray-bg-text;
    }
  }
}
