@use "../../../presets" as *;
@use "../../../mixins" as *;

.logo {
  &__link {
    color: $color-primary;

    font-size: 38px;
    font-weight: 400;

    @include lg {
      padding-bottom: 9px;

      font-size: 19px;
      font-weight: 400;
      line-height: 1.15;
    }
  }

  &__slash {
    @include lg {
      width: 11px;
      height: 24px;

      transform: translateY(-2px);
    }
  }
  &__symbol {
    @include lg {
      width: 21px;
      height: 24px;

      transform: translateY(-2px);
    }
  }
}
